@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  width: auto;
  height: auto;
  color: black;
}

html {
  width: auto;
  height: auto;
}


.navbar {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* any high value */
  background-color: #F7D65A;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
}

.button-color {
  background-color: #F7D65A;
}

.categories-background {
  background-color: #F7D65A;
  
}

@keyframes rollInOut {
  0% {
    transform: translateX(-170%) rotate(0deg);
  }
  100% {
    transform: translateX(170%) rotate(360deg);
  }
}

.tumbleweed {
  animation: rollInOut 7s linear infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}