@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  width: auto;
  height: auto;
  color: black;
}

html {
  width: auto;
  height: auto;
}

.landingImage {
  background-image: url("./assets/woman-sky.jpg");
  /*Parallax Effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* any high value */
}
