@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  width: auto;
  height: auto;
  color: black;
}

html {
  width: auto;
  height: auto;
}


.navbar {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* any high value */
  background-color: #F7D65A;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
}

.button-color {
  background-color: #F7D65A;
}
